.DashboardNavMain {
    display: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout {
    border-width: 0.5px;
    background-color: rgb(238, 87, 70);
    color: white;
    padding: 10px;
    font-weight: 300;
    border-radius: 8px;
}

#welcome-msg {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.DashboardHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.analysis_target_btns {
    margin: 10px;
    border-width: 0.5px;
    background-color: rgb(70, 238, 190);
    color: black;
    padding: 10px;
    font-weight: 300;
    border-radius: 8px;
}

.category-label {
    margin-bottom: 10px;
}