.ViewCSVMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    background-color: rgb(246, 245, 228);
}

.tableHeaders {
    padding: 10px;
}

.tableHeadersFaculty {
    padding: 5px;
}

#facultyTable {
    font-size: 14px;
    overflow: scroll;
}

.student_btn_options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#T, #TL, #TLJ {
    margin: 10px;
    border-width: 0px;
    background-color: rgb(174, 70, 238);
    color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 8px;
}

.predictionDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plotSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pieChart {
    height: 200px;
}